<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true" xsi:type="AsyncWrapper">
    <target xsi:type="File" name="infoF" fileName="${basedir}/logs/Info/${logger}_${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="debugF" fileName="${basedir}/logs/Debug/${logger}_${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="warnF" fileName="${basedir}/logs/Warn/${logger}_${shortdate}.log"
            layout="${longdate}${logger}${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="errorF" fileName="${basedir}/logs/Error/${logger}_${shortdate}.log"
            layout="---------------------------------------${time} --------------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="traceF" fileName="${basedir}/logs/TracePay/${logger}_${shortdate}.log"
            layout="---------------------------------------${longdate}-----------------------------${newline}${message}${newline}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="InterfaceServer" levels="Trace" writeTo="tracePayF" />-->
    <logger name="*" levels="Error" writeTo="errorF" />
    <!--<logger name="*" minlevel="Trace" writeTo="wsLog" />-->
    <logger name="*" levels="Warn" writeTo="warnF" />
    <logger name="*" levels="Debug" writeTo="debugF" />
    <logger name="*" levels="Info" writeTo="infoF" />
    <logger name="*" levels="Trace" writeTo="traceF" />
  </rules>
</nlog>
